<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Нагруженное дерево</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <h1>Выберите файл, в котором хранится онтология</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form name="getFile" method="post" action="/upload" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn blue accent-3">
                <span>Выбрать</span>
                <input type="file" name="ontology">
            </div>
            <div class="file-path-wrapper">
                <input type="text" class="file-path validate">
            </div>
            <button class="btn blue accent-3" type="submit">Отправить</button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>